.day {
  position: relative;
  width: var(--auro-size-xxl);
  height: var(--auro-size-xxxl);

  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: var(--auro-size-lg);

  // background-color: var(--auro-color-background-lightest);
  background-color: transparent;
  color: var(--auro-color-text-primary-on-light);

  cursor: pointer;

  font-family: var(--auro-font-family-default);
  font-size: var(--auro-text-body-size-lg);

  &.disabled {
    color: var(--auro-color-text-secondary-on-dark);

    pointer-events: none;
  }

  &.selected {
    border-color: var(--auro-color-background-darker);

    background-color: var(--auro-color-background-darker);
    box-shadow: 0 0 10px rgba(0, 0, 0, .15);
    color: var(--auro-color-background-lightest);
  }

  &.inRange {
    &:before {
      position: absolute;
      content: '';
      display: block;
      background-color: var(--auro-color-background-lighter);
      height: 48px;
      width: 48px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
    }
  }

  &:hover {
    cursor: pointer;
    background-color: #f0f0f0; // var(--auro-color-ui-bkg-hover-on-light);
    color: var(--auro-color-text-primary-on-light);

    // &.inRange {
    //   &:before {
    //     position: absolute;
    //     content: '';
    //     display: block;
    //     background-color: var(--auro-color-background-lighter);
    //     height: 48px;
    //     width: 29px;
    //     top: 50%;
    //     left: -5px;
    //     transform: translate(0%, -50%);
    //     z-index: -1;
    //   }
    // }
  }
}
